:root{
    --title-h1-title:56px;
    --title-h2-title:44px;
    --title-h3-title:32px;
    --parragraph-text:20px;
    --pupple-color:blueviolet;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto', sans-serif;
}
ul{
    margin:0;
    padding: 10px;
    
}
li{
    list-style: none;
    margin: 0;
}
p{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    width: 100%;
    padding: 6px;
}
.left{
    margin-left: 30px;
    padding: 10px;
    font-size: var(--parragraph-text);
    color: var(--pupple-color);
    font-weight: bold;

}
.rigth{
    display: flex;
    margin-right: 30px;
}
.rigth ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rigth ul li{
    margin-right: 20px;
    font-weight: bold;
}